<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dewey</title>
  <!-- Latest compiled and minified CSS & JS -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|PT+Mono|Saira+Semi+Condensed|Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body class="home">  
  <div class="container">
    <div class="row">
      <div class="col s6">
        <div class="landing">
          <h1>Dewey.</h1>
          <h2> Read. Discuss. Learn. Grow.</h2>
          <br>
          <p> Dewey is a web-based book club that allows you to track your favorite books, discuss what you are currently reading with friends, and discover new books all in one place. </p>
          <br>
          <p>Your next adventure awaits. Let's get reading.</p>
          <a href="/signup"><button type="submit">New User</button></a>
          <a href="/login"><button type="submit">Login</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Custom Script -->
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/library.js"></script>
</body>
</html>